body,html{
    position:relative;
    font-family:sans-serif;
}
*{
    box-sizing: border-box;
}
#window{
    height:100vh;
    width:100vw;
    min-height:600px;
    min-width:600px;
    position:relative;
    display:flex;
}
#chart{
    height:100%;
    width:100vw;
}
#panel{
    width:300px;
    padding:12px;
}
#controls{
    display:flex;
    justify-content:space-between;
}
.control{
    cursor:pointer;
}
.tooltip{
    padding:8px;
    font-size:.85em;
    max-width:400px;
}
.tooltip .section{
    padding:5px 0;
    white-space: normal;
}
.tooltip .dataitem {
    display:inline-block;
    white-space: nowrap;
    margin-right:5px;
}
.dataitem span{
    font-weight:bold;
}
.dataitem.peaked span{
    color:orange;
}
.tooltip .heading{
    background:rgba(255,255,255,0.5);
    color:white;
    padding-left:8px;
    font-weight:bold;
}
.tooltip .spacer{
    height:1px;
    background:white;
    margin:5px 8%;
    opacity:0.5;
}